{:highlights [{:id #uuid "6578131c-93d9-4567-893f-1b610ac04cc3",
               :page 10,
               :position {:bounding {:x1 398.23960369825363,
                                     :y1 175.03125,
                                     :x2 514.4634196162224,
                                     :y2 194.36459350585938,
                                     :width 872.0000000000001,
                                     :height 490.50000000000006},
                          :rects ({:x1 398.23960369825363,
                                   :y1 175.03125,
                                   :x2 514.4634196162224,
                                   :y2 194.36459350585938,
                                   :width 872.0000000000001,
                                   :height 490.50000000000006}),
                          :page 10},
               :content {:text "用户、用户组管理"},
               :properties {:color "yellow"}}
              {:id #uuid "65781921-0831-44be-abab-46f4999db990",
               :page 32,
               :position {:bounding {:x1 383.32293701171875,
                                     :y1 191.61459350585938,
                                     :x2 653.127197265625,
                                     :y2 212.94790649414062,
                                     :width 872.0000000000001,
                                     :height 490.50000000000006},
                          :rects ({:x1 383.32293701171875,
                                   :y1 191.61459350585938,
                                   :x2 653.127197265625,
                                   :y2 212.94790649414062,
                                   :width 872.0000000000001,
                                   :height 490.50000000000006}),
                          :page 32},
               :content {:text "掌握使用chown修改所属用户、用户组"},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
