{:highlights [{:id #uuid "65791e23-93ba-4308-ae29-b7a24cf01484",
               :page 23,
               :position {:bounding {:x1 421.7625427246094,
                                     :y1 162.82293701171875,
                                     :x2 611.1596069335938,
                                     :y2 186.15625,
                                     :width 936.0000000000001,
                                     :height 526.5},
                          :rects ({:x1 421.7625427246094,
                                   :y1 162.82293701171875,
                                   :x2 611.1596069335938,
                                   :y2 186.15625,
                                   :width 936.0000000000001,
                                   :height 526.5}
                                  {:x1 505.90625,
                                   :y1 166.15625,
                                   :x2 593.6625366210938,
                                   :y2 183.70831298828125,
                                   :width 936.0000000000001,
                                   :height 526.5}),
                          :page 23},
               :content {:text "systemctl命令的作用是"},
               :properties {:color "yellow"}}
              {:id #uuid "65791fab-94fd-4ace-8625-218dd01e45e2",
               :page 35,
               :position {:bounding {:x1 433.9466552734375,
                                     :y1 93.375,
                                     :x2 602.4025268554688,
                                     :y2 116.70834350585938,
                                     :width 936.0000000000001,
                                     :height 526.5},
                          :rects ({:x1 433.9466552734375,
                                   :y1 93.375,
                                   :x2 602.4025268554688,
                                   :y2 116.70834350585938,
                                   :width 936.0000000000001,
                                   :height 526.5}
                                  {:x1 462,
                                   :y1 96.70834350585938,
                                   :x2 567.30126953125,
                                   :y2 114.26040649414062,
                                   :width 936.0000000000001,
                                   :height 526.5}),
                          :page 35},
               :content {:text "ate命令的作用和用法"},
               :properties {:color "yellow"}}
              {:id #uuid "65791fb1-cb2f-4e2a-b290-453f8cab0d34",
               :page 35,
               :position {:bounding {:x1 426.90625,
                                     :y1 304.3437805175781,
                                     :x2 576.1004638671875,
                                     :y2 327.6770935058594,
                                     :width 936.0000000000001,
                                     :height 526.5},
                          :rects ({:x1 426.90625,
                                   :y1 304.3437805175781,
                                   :x2 576.1004638671875,
                                   :y2 327.6770935058594,
                                   :width 936.0000000000001,
                                   :height 526.5}
                                  {:x1 497.10418701171875,
                                   :y1 307.6770935058594,
                                   :x2 540.98486328125,
                                   :y2 325.2291564941406,
                                   :width 936.0000000000001,
                                   :height 526.5}),
                          :page 35},
               :content {:text "如何修改Linux时区"},
               :properties {:color "yellow"}}
              {:id #uuid "6579256f-afd0-4869-9d98-88e4742ed0f9",
               :page 75,
               :position {:bounding {:x1 0,
                                     :y1 233.40625,
                                     :x2 936,
                                     :y2 1063.0000610351562,
                                     :width 936.0000000000001,
                                     :height 526.5},
                          :rects ({:x1 716.767578125,
                                   :y1 233.40625,
                                   :x2 841.5712280273438,
                                   :y2 254.07293701171875,
                                   :width 936.0000000000001,
                                   :height 526.5}
                                  {:x1 0,
                                   :y1 536.5,
                                   :x2 936,
                                   :y2 1063.0000610351562,
                                   :width 936.0000000000001,
                                   :height 526.5}),
                          :page 75},
               :content {:text "自身的处理机制。"},
               :properties {:color "red"}}],
 :extra {:page 112}}
