{:highlights [{:id #uuid "658aaabe-c688-4c0c-b761-5841578f83f9",
               :page 22,
               :position {:bounding {:x1 232.12891641259193,
                                     :y1 84.45834350585938,
                                     :x2 713.4285685122013,
                                     :y2 132.875,
                                     :width 927,
                                     :height 655.3075296912115},
                          :rects ({:x1 232.12891641259193,
                                   :y1 84.45834350585938,
                                   :x2 713.4285685122013,
                                   :y2 132.875,
                                   :width 927,
                                   :height 655.3075296912115}),
                          :page 22},
               :content {:text "nternal forces: Curvature"},
               :properties {:color "yellow"}}],
 :extra {:page 22}}
