{:highlights [{:id #uuid "658983d7-2e9d-413b-869c-8bc4cb080dbf",
               :page 20,
               :position {:bounding {:x1 250.02084350585938,
                                     :y1 74.16667175292969,
                                     :x2 514.1680908203125,
                                     :y2 115.5,
                                     :width 783,
                                     :height 553.5121852731592},
                          :rects ({:x1 250.02084350585938,
                                   :y1 74.16667175292969,
                                   :x2 514.1680908203125,
                                   :y2 115.5,
                                   :width 783,
                                   :height 553.5121852731592}),
                          :page 20},
               :content {:text "Basic Operatio"},
               :properties {:color "yellow"}}
              {:id #uuid "65898406-3482-4e75-a852-ea5170b2facb",
               :page 21,
               :position {:bounding {:x1 233.33334350585938,
                                     :y1 80.85416793823242,
                                     :x2 612.64501953125,
                                     :y2 124.85417556762695,
                                     :width 846,
                                     :height 598.047648456057},
                          :rects ({:x1 233.33334350585938,
                                   :y1 80.85416793823242,
                                   :x2 612.64501953125,
                                   :y2 124.85417556762695,
                                   :width 846,
                                   :height 598.047648456057}),
                          :page 21},
               :content {:text "Distance Transform"},
               :properties {:color "yellow"}}
              {:id #uuid "65898d1f-1027-4923-8d59-274bc397ea1f",
               :page 22,
               :position {:bounding {:x1 341.9583435058594,
                                     :y1 98.90626525878906,
                                     :x2 504.0640869140625,
                                     :y2 142.90626525878906,
                                     :width 846,
                                     :height 598.047648456057},
                          :rects ({:x1 341.9583435058594,
                                   :y1 98.90626525878906,
                                   :x2 504.0640869140625,
                                   :y2 142.90626525878906,
                                   :width 846,
                                   :height 598.047648456057}),
                          :page 22},
               :content {:text "Skeleton"},
               :properties {:color "yellow"}}
              {:id #uuid "65898d23-0aee-41e6-b309-7301bbf20f80",
               :page 22,
               :position {:bounding {:x1 341.9583435058594,
                                     :y1 98.90626525878906,
                                     :x2 504.0640869140625,
                                     :y2 142.90626525878906,
                                     :width 846,
                                     :height 598.047648456057},
                          :rects ({:x1 341.9583435058594,
                                   :y1 98.90626525878906,
                                   :x2 504.0640869140625,
                                   :y2 142.90626525878906,
                                   :width 846,
                                   :height 598.047648456057}),
                          :page 22},
               :content {:text "Skeleton"},
               :properties {:color "yellow"}}
              {:id #uuid "65898d41-cf65-4c6c-adb5-0390b8146bc1",
               :page 24,
               :position {:bounding {:x1 360.40625,
                                     :y1 98.90625,
                                     :x2 460.600341796875,
                                     :y2 142.90625,
                                     :width 846,
                                     :height 598.047648456057},
                          :rects ({:x1 360.40625,
                                   :y1 98.90625,
                                   :x2 460.600341796875,
                                   :y2 142.90625,
                                   :width 846,
                                   :height 598.047648456057}),
                          :page 24},
               :content {:text "Q & "},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
