{:highlights [{:id #uuid "65896bdd-ad01-4822-96b7-42b277b52b3f",
               :page 24,
               :position {:bounding {:x1 172.63542683422565,
                                     :y1 399.6458435058594,
                                     :x2 406.90480549633503,
                                     :y2 436.97918701171875,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 172.63542683422565,
                                   :y1 399.6458435058594,
                                   :x2 406.90480549633503,
                                   :y2 436.97918701171875,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 24},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "65896bf8-0718-4244-b25f-6ff220c832ac",
               :page 24,
               :position {:bounding {:x1 172.63542683422565,
                                     :y1 399.6458435058594,
                                     :x2 275.13347370922565,
                                     :y2 436.97918701171875,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 172.63542683422565,
                                   :y1 399.6458435058594,
                                   :x2 275.13347370922565,
                                   :y2 436.97918701171875,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 24},
               :content {:text "Prewitt"},
               :properties {:color "yellow"}}
              {:id #uuid "658cc509-1d85-4fde-9002-3ae1c3498853",
               :page 29,
               :position {:bounding {:x1 244.65626019239426,
                                     :y1 559.2916870117188,
                                     :x2 490.45517987012863,
                                     :y2 600.625,
                                     :width 1235.0000000000002,
                                     :height 873.0364608076012},
                          :rects ({:x1 244.65626019239426,
                                   :y1 559.2916870117188,
                                   :x2 490.45517987012863,
                                   :y2 600.625,
                                   :width 1235.0000000000002,
                                   :height 873.0364608076012}),
                          :page 29},
               :content {:text "Two categories"},
               :properties {:color "yellow"}}],
 :extra {:page 35}}
