{:highlights [{:id #uuid "658ccaa0-0725-4854-bd8a-bfd6c7d935f7",
               :page 25,
               :position {:bounding {:x1 510.87237548828125,
                                     :y1 93.7708740234375,
                                     :x2 784.874755859375,
                                     :y2 145.7708740234375,
                                     :width 1088,
                                     :height 769.120380047506},
                          :rects ({:x1 510.87237548828125,
                                   :y1 93.7708740234375,
                                   :x2 784.874755859375,
                                   :y2 145.7708740234375,
                                   :width 1088,
                                   :height 769.120380047506}),
                          :page 25},
               :content {:text "Tomography"},
               :properties {:color "yellow"}}],
 :extra {:page 20}}
