{:highlights [{:id #uuid "65893e8e-cfd4-47f4-aa23-2a6b7512804b",
               :page 23,
               :position {:bounding {:x1 194.85091145336628,
                                     :y1 417.69793701171875,
                                     :x2 586.8438313752413,
                                     :y2 459.69793701171875,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 194.85091145336628,
                                   :y1 417.69793701171875,
                                   :x2 586.8438313752413,
                                   :y2 459.69793701171875,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 23},
               :content {:text "Digital Image structure"},
               :properties {:color "yellow"}}
              {:id #uuid "65893e93-ac67-4bc1-9be8-47b9fc881909",
               :page 23,
               :position {:bounding {:x1 194.85091145336628,
                                     :y1 417.69793701171875,
                                     :x2 586.8438313752413,
                                     :y2 459.69793701171875,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 194.85091145336628,
                                   :y1 417.69793701171875,
                                   :x2 586.8438313752413,
                                   :y2 459.69793701171875,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 23},
               :content {:text "Digital Image structure"},
               :properties {:color "yellow"}}],
 :extra {:page 30}}
