{:highlights [{:id #uuid "658a436b-2bb2-4455-9f65-8185370a6dee",
               :page 29,
               :position {:bounding {:x1 354.5299479365349,
                                     :y1 71.03125,
                                     :x2 605.1206461787224,
                                     :y2 114.36459350585938,
                                     :width 836.0000000000001,
                                     :height 590.9785273159147},
                          :rects ({:x1 354.5299479365349,
                                   :y1 71.03125,
                                   :x2 605.1206461787224,
                                   :y2 114.36459350585938,
                                   :width 836.0000000000001,
                                   :height 590.9785273159147}),
                          :page 29},
               :content {:text "he Principle"},
               :properties {:color "yellow"}}],
 :extra {:page 39}}
