{:highlights [{:id #uuid "65893f4e-4f34-44b0-b99f-1c1514c665be",
               :page 4,
               :position {:bounding {:x1 154.67708332836628,
                                     :y1 85.13543701171875,
                                     :x2 937.425313308835,
                                     :y2 189.25,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 190.80208332836628,
                                   :y1 85.13543701171875,
                                   :x2 901.4512532502413,
                                   :y2 132.46875,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}
                                  {:x1 154.67708332836628,
                                   :y1 141.91668701171875,
                                   :x2 937.425313308835,
                                   :y2 189.25,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 4},
               :content {:text "TYPICAL IMAGE PROCESSING SYSTEM FOR MEDICAL IMAGING"},
               :properties {:color "yellow"}}
              {:id #uuid "65893f9a-c341-42cd-ab19-a9b6a959fa21",
               :page 16,
               :position {:bounding {:x1 275.8958333283663,
                                     :y1 128.87500381469727,
                                     :x2 832.1286214143038,
                                     :y2 186.8750114440918,
                                     :width 1108.0000000000002,
                                     :height 783.2586223277912},
                          :rects ({:x1 275.8958333283663,
                                   :y1 128.87500381469727,
                                   :x2 832.1286214143038,
                                   :y2 186.8750114440918,
                                   :width 1108.0000000000002,
                                   :height 783.2586223277912}),
                          :page 16},
               :content {:text "Features of Histogram"},
               :properties {:color "yellow"}}],
 :extra {:page 33}}
