{:highlights [{:id #uuid "65899135-6cce-4606-9741-93d91a704baa",
               :page 29,
               :position {:bounding {:x1 266.96877034008503,
                                     :y1 72.35415649414062,
                                     :x2 558.345723465085,
                                     :y2 109.6875,
                                     :width 791.0000000000001,
                                     :height 559.1674821852732},
                          :rects ({:x1 266.96877034008503,
                                   :y1 72.35415649414062,
                                   :x2 558.345723465085,
                                   :y2 109.6875,
                                   :width 791.0000000000001,
                                   :height 559.1674821852732}),
                          :page 29},
               :content {:text "Grayscale Closing"},
               :properties {:color "yellow"}}
              {:id #uuid "658cc37c-9a86-4e97-9269-e5a22357df48",
               :page 34,
               :position {:bounding {:x1 483.13543701171875,
                                     :y1 99.72917175292969,
                                     :x2 769.5690307617188,
                                     :y2 164.39583587646484,
                                     :width 1235,
                                     :height 873.036460807601},
                          :rects ({:x1 483.13543701171875,
                                   :y1 99.72917175292969,
                                   :x2 769.5690307617188,
                                   :y2 164.39583587646484,
                                   :width 1235,
                                   :height 873.036460807601}),
                          :page 34},
               :content {:text "Difference"},
               :properties {:color "yellow"}}],
 :extra {:page 34}}
