{:highlights [{:id #uuid "658a784e-103a-40e7-aada-a48083fa5070",
               :page 28,
               :position {:bounding {:x1 399.93752034008503,
                                     :y1 238.61458587646484,
                                     :x2 585.0822346955538,
                                     :y2 289.9479217529297,
                                     :width 987,
                                     :height 697.7222565320666},
                          :rects ({:x1 399.93752034008503,
                                   :y1 238.61458587646484,
                                   :x2 585.0822346955538,
                                   :y2 289.9479217529297,
                                   :width 987,
                                   :height 697.7222565320666}),
                          :page 28},
               :content {:text "Exercise"},
               :properties {:color "yellow"}}],
 :extra {:page 29}}
