{:highlights [{:id #uuid "64ce6055-9aa2-46ca-aaec-7e33e654326a",
               :page 127,
               :position {:bounding {:x1 0,
                                     :y1 80,
                                     :x2 833.7518768310547,
                                     :y2 581.3854370117188,
                                     :width 945,
                                     :height 1222.9411764705883},
                          :rects ({:x1 0,
                                   :y1 80,
                                   :x2 0,
                                   :y2 96,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 0,
                                   :y1 96,
                                   :x2 0,
                                   :y2 112,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 625.7250366210938,
                                   :y1 497.44793701171875,
                                   :x2 833.0985717773438,
                                   :y2 528.1145935058594,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 524.0833435058594,
                                   :x2 833.7518768310547,
                                   :y2 554.75,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 528.0833435058594,
                                   :x2 833.7518768310547,
                                   :y2 551.25,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 550.71875,
                                   :x2 337.50677490234375,
                                   :y2 581.3854370117188,
                                   :width 945,
                                   :height 1222.9411764705883}),
                          :page 127},
               :content {:text "By solving the puzzle, I get a gem in the form of a principle that helps me avoid the same sort of problem in the future."},
               :properties {:color "yellow"}}],
 :extra {:page 127}}
