{:highlights [{:id #uuid "64ce44ab-3c40-4761-b821-b84b0e8336f8",
               :page 20,
               :position {:bounding {:x1 0,
                                     :y1 176.0000114440918,
                                     :x2 899.613899230957,
                                     :y2 543.6666870117188,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 176.0000114440918,
                                   :x2 0,
                                   :y2 192.0000114440918,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 150.00000762939453,
                                   :y1 481.5833435058594,
                                   :x2 899.613899230957,
                                   :y2 514.9166870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 120.00000762939453,
                                   :y1 510.3333435058594,
                                   :x2 361.39371490478516,
                                   :y2 543.6666870117188,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 20},
               :content {:text "We are all born with different thinking abilities but we aren’t born with decision-making skills"},
               :properties {:color "yellow"}}
              {:id #uuid "64ce486a-18f1-41c8-81c0-3304ebd27ee3",
               :page 21,
               :position {:bounding {:x1 0,
                                     :y1 384.00001525878906,
                                     :x2 680.4323323518038,
                                     :y2 839.6875305175781,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 384.00001525878906,
                                   :x2 0,
                                   :y2 400.00001525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 322.0812581330538,
                                   :y1 793.2604370117188,
                                   :x2 680.4323323518038,
                                   :y2 817.9271240234375,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 815.0208740234375,
                                   :x2 630.8199284821749,
                                   :y2 839.6875305175781,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 21},
               :content {:text " She died when I was nineteen. At the time, I couldn’t imagine ever laughing again. Now when I think of her I smile."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4916-9625-4cfe-9733-51c07e60a92f",
               :page 22,
               :position {:bounding {:x1 0,
                                     :y1 32,
                                     :x2 680.8522160798311,
                                     :y2 244.6041717529297,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 32,
                                   :x2 0,
                                   :y2 48,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 48,
                                   :x2 0,
                                   :y2 64,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 64,
                                   :x2 0,
                                   :y2 80,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 80,
                                   :x2 0,
                                   :y2 96,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 450.73186238110065,
                                   :y1 132.8958282470703,
                                   :x2 680.398946121335,
                                   :y2 157.5625,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 154.65625,
                                   :x2 680.6779607087374,
                                   :y2 179.3229217529297,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 157.9895782470703,
                                   :x2 680.6779607087374,
                                   :y2 176.90625,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 176.4166717529297,
                                   :x2 680.8522160798311,
                                   :y2 201.0833282470703,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 179.75,
                                   :x2 680.8522160798311,
                                   :y2 198.6666717529297,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 198.1770782470703,
                                   :x2 680.6104558259249,
                                   :y2 222.84376525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 201.5104217529297,
                                   :x2 680.6104558259249,
                                   :y2 220.4270782470703,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 219.93751525878906,
                                   :x2 559.457898452878,
                                   :y2 244.6041717529297,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 22},
               :content {:text "For example, one time he told me to cut the grass and I decided to do just the front yard and postpone doing the back, but then it rained for a couple of days and the backyard grass became so high I had to cut it with a sickle. That took so long that by the time I was finished, the front yard was too high to mow, and so on."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4985-9880-4c19-8da3-4847a7c2224e",
               :page 22,
               :position {:bounding {:x1 0,
                                     :y1 288.00000762939453,
                                     :x2 681.1245930939913,
                                     :y2 527.4791717529297,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 288.00000762939453,
                                   :x2 0,
                                   :y2 304.00001525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 113.52083332836628,
                                   :y1 481.05210876464844,
                                   :x2 681.1245930939913,
                                   :y2 505.71876525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 502.81251525878906,
                                   :x2 515.6963017731905,
                                   :y2 527.4791717529297,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 22},
               :content {:text "When I didn’t want to do something, I would fight it, but when I was excited about something, nothing could hold me back"},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4a05-4ae2-46bc-a347-d957ca4d3f31",
               :page 22,
               :position {:bounding {:x1 156.77156575024128,
                                     :y1 807.4479217529297,
                                     :x2 549.4060872346163,
                                     :y2 832.1146087646484,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 156.77156575024128,
                                   :y1 807.4479217529297,
                                   :x2 549.4060872346163,
                                   :y2 832.1146087646484,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 22},
               :content {:text "He and his ideas had a major effect on my thinking."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4a11-56ed-463a-a14c-dbf3deaa4cd1",
               :page 22,
               :position {:bounding {:x1 0,
                                     :y1 400.00001525878906,
                                     :x2 681.1351521760225,
                                     :y2 701.5625457763672,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 400.00001525878906,
                                   :x2 0,
                                   :y2 416.00001525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 416.00001525878906,
                                   :x2 0,
                                   :y2 432.00001525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 207.80888874828815,
                                   :y1 633.3750152587891,
                                   :x2 681.1351521760225,
                                   :y2 658.0416717529297,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 655.1354217529297,
                                   :x2 680.5154851227999,
                                   :y2 679.8021087646484,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 658.4687652587891,
                                   :x2 680.5154851227999,
                                   :y2 677.3854217529297,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 676.8958587646484,
                                   :x2 425.4308293610811,
                                   :y2 701.5625457763672,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 22},
               :content {:text "But I do know that having those jobs and having some money to handle independently in those early years taught me many valuable lessons I wouldn’t have learned in school or at play."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4b07-ce67-45f2-b50a-85ebb9450a8e",
               :page 23,
               :position {:bounding {:x1 0,
                                     :y1 336,
                                     :x2 680.7215169221163,
                                     :y2 614.5208435058594,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 336,
                                   :x2 0,
                                   :y2 352,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 352,
                                   :x2 0,
                                   :y2 368.0000305175781,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 378.78127034008503,
                                   :y1 546.3333435058594,
                                   :x2 680.7215169221163,
                                   :y2 571.0000305175781,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 568.0937805175781,
                                   :x2 680.4819157868624,
                                   :y2 592.7604064941406,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 571.4270935058594,
                                   :x2 680.4819157868624,
                                   :y2 590.3437805175781,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 589.8541564941406,
                                   :x2 664.7418034821749,
                                   :y2 614.5208435058594,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 23},
               :content {:text "As the stock market continued to climb, World War II and the Depression seemed like distant memories and investing seemed like simply a matter of buying anything and watching it go up."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4bda-b386-4746-a41d-9842614a1a3b",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 144.00000953674316,
                                     :x2 680.9883855134249,
                                     :y2 604.1145935058594,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 144.00000953674316,
                                   :x2 0,
                                   :y2 160.00000953674316,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 160.00001001358032,
                                   :x2 0,
                                   :y2 176.00001001358032,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 0,
                                   :y1 176.00001049041748,
                                   :x2 0,
                                   :y2 192.00001049041748,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 306.91078694164753,
                                   :y1 514.1666870117188,
                                   :x2 680.5713704377413,
                                   :y2 538.8333435058594,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 535.9270935058594,
                                   :x2 680.9883855134249,
                                   :y2 560.5937805175781,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 539.2604370117188,
                                   :x2 680.9883855134249,
                                   :y2 558.1770935058594,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 557.6875305175781,
                                   :x2 680.5788396149874,
                                   :y2 582.3541870117188,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 561.0208435058594,
                                   :x2 680.5788396149874,
                                   :y2 579.9375305175781,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 579.4479370117188,
                                   :x2 148.34291584789753,
                                   :y2 604.1145935058594,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 24},
               :content {:text "’ve always been an independent thinker inclined to take risks in search of rewards—not just in the markets, but in most everything. I also feared boredom and mediocrity much more than I feared failure."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4be9-7183-4160-8ea4-f7e0b1ff52f2",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 192.0000114440918,
                                     :x2 680.3047536164522,
                                     :y2 625.8750305175781,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 192.0000114440918,
                                   :x2 0,
                                   :y2 208.0000114440918,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 234.34790547192097,
                                   :y1 579.4479370117188,
                                   :x2 680.3047536164522,
                                   :y2 604.1145935058594,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 601.2083435058594,
                                   :x2 481.59956105053425,
                                   :y2 625.8750305175781,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 24},
               :content {:text "reat is better than terrible, and terrible is better than mediocre, because terrible at least gives life flavor. "},
               :properties {:color "yellow"}}
              {:id #uuid "64ce4c35-0bc7-4fa6-8150-0e8a72e066ba",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 352.00001525878906,
                                     :x2 680.6364186555147,
                                     :y2 843.4687805175781,
                                     :width 772,
                                     :height 999.0588235294117},
                          :rects ({:x1 0,
                                   :y1 352.00001525878906,
                                   :x2 0,
                                   :y2 368.00001525878906,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 127.20569355785847,
                                   :y1 797.0417175292969,
                                   :x2 680.6364186555147,
                                   :y2 821.7083435058594,
                                   :width 772,
                                   :height 999.0588235294117}
                                  {:x1 90.82291920483112,
                                   :y1 818.8020935058594,
                                   :x2 201.16353352367878,
                                   :y2 843.4687805175781,
                                   :width 772,
                                   :height 999.0588235294117}),
                          :page 24},
               :content {:text "After that, almost everything I thought I knew about the markets was proven wrong."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce5276-15db-4839-83ec-e9a091112d01",
               :page 26,
               :position {:bounding {:x1 0,
                                     :y1 368.00001525878906,
                                     :x2 833.67529296875,
                                     :y2 1028.4062805175781,
                                     :width 945,
                                     :height 1222.9411764705883},
                          :rects ({:x1 0,
                                   :y1 368.00001525878906,
                                   :x2 0,
                                   :y2 384.00001525878906,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 0,
                                   :y1 384.00001525878906,
                                   :x2 0,
                                   :y2 400.00001525878906,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 556.9478759765625,
                                   :y1 944.4687805175781,
                                   :x2 833.67529296875,
                                   :y2 975.1354370117188,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 971.1041870117188,
                                   :x2 833.2949066162109,
                                   :y2 1001.7708740234375,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 975.1041870117188,
                                   :x2 833.2949066162109,
                                   :y2 998.2708740234375,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 997.7396240234375,
                                   :x2 547.0434417724609,
                                   :y2 1028.4062805175781,
                                   :width 945,
                                   :height 1222.9411764705883}),
                          :page 26},
               :content {:text "editation has benefited me hugely throughout my life because it produces a calm open-mindedness that allows me to think more clearly and creatively."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce5311-d9ef-494e-8467-515ec9d4a6f7",
               :page 27,
               :position {:bounding {:x1 0,
                                     :y1 96.00001525878906,
                                     :x2 833.3527221679688,
                                     :y2 326.6042022705078,
                                     :width 945,
                                     :height 1222.9411764705883},
                          :rects ({:x1 0,
                                   :y1 96.00001525878906,
                                   :x2 0,
                                   :y2 112.00001525878906,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 699.93798828125,
                                   :y1 269.3020782470703,
                                   :x2 833.3527221679688,
                                   :y2 299.96876525878906,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 295.93751525878906,
                                   :x2 529.6896820068359,
                                   :y2 326.6042022705078,
                                   :width 945,
                                   :height 1222.9411764705883}),
                          :page 27},
               :content {:text "So those were the markets I started to trade and learn about."},
               :properties {:color "yellow"}}
              {:id #uuid "64ce5350-246f-4aec-bbf1-5060456b03d7",
               :page 27,
               :position {:bounding {:x1 0,
                                     :y1 144,
                                     :x2 833.8258056640625,
                                     :y2 406.51043701171875,
                                     :width 945,
                                     :height 1222.9411764705883},
                          :rects ({:x1 0,
                                   :y1 144,
                                   :x2 0,
                                   :y2 160,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 622.1776733398438,
                                   :y1 349.2083435058594,
                                   :x2 833.8258056640625,
                                   :y2 379.875,
                                   :width 945,
                                   :height 1222.9411764705883}
                                  {:x1 111.16667175292969,
                                   :y1 375.84375,
                                   :x2 705.1422576904297,
                                   :y2 406.51043701171875,
                                   :width 945,
                                   :height 1222.9411764705883}),
                          :page 27},
               :content {:text "Living through it had a lasting effect on me and many other members of my generation"},
               :properties {:color "yellow"}}],
 :extra {:page 25}}
