{:highlights [{:id #uuid "65489f3e-28e6-4e36-847c-af70b0b8ada7",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 637.6125411987305,
                                     :x2 310.8697509765625,
                                     :y2 705.6000366210938,
                                     :width 640,
                                     :height 850.2849770526614},
                          :rects ({:x1 67.0625,
                                   :y1 637.6125411987305,
                                   :x2 310.8697509765625,
                                   :y2 648.0125350952148,
                                   :width 640,
                                   :height 850.2849770526614}
                                  {:x1 54.837501525878906,
                                   :y1 651.0500411987305,
                                   :x2 175.83529663085938,
                                   :y2 661.4500350952148,
                                   :width 640,
                                   :height 850.2849770526614}
                                  {:x1 0,
                                   :y1 686.4000396728516,
                                   :x2 0,
                                   :y2 705.6000366210938,
                                   :width 640,
                                   :height 850.2849770526614}),
                          :page 2},
               :content {:text "Next, we investigated whether the proposed LB-CNN is superior to the graph-CNN "},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
