{:highlights [{:id #uuid "64ce5e98-e995-469a-8e25-bf7cd70a07e6",
               :page 30,
               :position {:bounding {:x1 -0.003753662109375,
                                     :y1 0,
                                     :x2 620.8283996582031,
                                     :y2 518.5267944335938,
                                     :width 620.7866666666666,
                                     :height 987.9999999999999},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 16,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 327.876220703125,
                                   :y1 128.87652587890625,
                                   :x2 327.8866271972656,
                                   :y2 165.54318237304688,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 -0.003753662109375,
                                   :y1 184.75457763671875,
                                   :x2 620.8283996582031,
                                   :y2 330.72332763671875,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 227.6875,
                                   :y1 330.73626708984375,
                                   :x2 620.7964782714844,
                                   :y2 475.194580078125,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 80.04684448242188,
                                   :y1 425.0279541015625,
                                   :x2 232.70431518554688,
                                   :y2 478.36126708984375,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 238.69546508789062,
                                   :y1 446.42889404296875,
                                   :x2 272.9791564941406,
                                   :y2 467.76220703125,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 79.39761352539062,
                                   :y1 460.57293701171875,
                                   :x2 200.40316772460938,
                                   :y2 507.90625,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 237.46875,
                                   :y1 475.203857421875,
                                   :x2 328.3854064941406,
                                   :y2 518.5267944335938,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}
                                  {:x1 203.0047607421875,
                                   :y1 475.9747314453125,
                                   :x2 343.0238037109375,
                                   :y2 499.30804443359375,
                                   :width 620.7866666666666,
                                   :height 987.9999999999999}),
                          :page 30},
               :content {:text "(1967-1979^) jfcte<W«ia. I966 T. JA^O. {H^ 1967— 1979 T"},
               :properties {:color "yellow"}}],
 :extra {:page 27}}
