{:highlights [{:id #uuid "64d2586f-b465-4c60-a826-6812e786bc99",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 917,
                                     :y2 2772,
                                     :width 917,
                                     :height 1381.919},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 917,
                                   :y2 0,
                                   :width 917,
                                   :height 1381.919}
                                  {:x1 365.4278259277344,
                                   :y1 1353.4896240234375,
                                   :x2 365.43670654296875,
                                   :y2 1366.822998046875,
                                   :width 917,
                                   :height 1381.919}
                                  {:x1 0,
                                   :y1 1391,
                                   :x2 917,
                                   :y2 2772,
                                   :width 917,
                                   :height 1381.919}),
                          :page 8},
               :content {:text "更多"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
