{:highlights [{:id #uuid "65437c0c-380e-40ab-bd33-cc04207d0f6a",
               :page 19,
               :position {:bounding {:x1 81.32292175292969,
                                     :y1 206.5729217529297,
                                     :x2 350.13543701171875,
                                     :y2 231.90626525878906,
                                     :width 767.9999999999999,
                                     :height 431.99999999999994},
                          :rects ({:x1 81.32292175292969,
                                   :y1 206.5729217529297,
                                   :x2 350.13543701171875,
                                   :y2 231.90626525878906,
                                   :width 767.9999999999999,
                                   :height 431.99999999999994}
                                  {:x1 100.52083587646484,
                                   :y1 209.90626525878906,
                                   :x2 330.9375,
                                   :y2 229.1041717529297,
                                   :width 767.9999999999999,
                                   :height 431.99999999999994}),
                          :page 19},
               :content {:text "规整化网格方向的一种算法如下"},
               :properties {:color "yellow"}}
              {:id #uuid "65437d02-2216-4371-80ed-b1152ea83b04",
               :page 25,
               :position {:bounding {:x1 126.4375,
                                     :y1 104.97915649414062,
                                     :x2 296.54168701171875,
                                     :y2 142.3125,
                                     :width 1134.0000000000002,
                                     :height 637.8750000000001},
                          :rects ({:x1 126.4375,
                                   :y1 104.97915649414062,
                                   :x2 296.54168701171875,
                                   :y2 142.3125,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}
                                  {:x1 154.78125,
                                   :y1 109.64584350585938,
                                   :x2 268.1875,
                                   :y2 138,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}),
                          :page 25},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "65437d16-47b9-43ca-ba1e-815bb54b7e4b",
               :page 24,
               :position {:bounding {:x1 126.4375,
                                     :y1 104.97917175292969,
                                     :x2 296.54168701171875,
                                     :y2 142.3125,
                                     :width 1134.0000000000002,
                                     :height 637.8750000000001},
                          :rects ({:x1 126.4375,
                                   :y1 104.97917175292969,
                                   :x2 296.54168701171875,
                                   :y2 142.3125,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}
                                  {:x1 154.78125,
                                   :y1 109.64584350585938,
                                   :x2 268.1875,
                                   :y2 138,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}),
                          :page 24},
               :content {:text "傅里叶描述子"},
               :properties {:color "yellow"}}
              {:id #uuid "65437d64-2028-48e1-b8b9-a04eff59ece9",
               :page 25,
               :position {:bounding {:x1 181.20834350585938,
                                     :y1 486.2395935058594,
                                     :x2 294.6145935058594,
                                     :y2 523.5729370117188,
                                     :width 1134.0000000000002,
                                     :height 637.8750000000001},
                          :rects ({:x1 181.20834350585938,
                                   :y1 486.2395935058594,
                                   :x2 294.6145935058594,
                                   :y2 523.5729370117188,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}
                                  {:x1 209.5625,
                                   :y1 490.90625,
                                   :x2 266.26043701171875,
                                   :y2 519.2604370117188,
                                   :width 1134.0000000000002,
                                   :height 637.8750000000001}),
                          :page 25},
               :content {:text "使用价值"},
               :properties {:color "yellow"}}
              {:id #uuid "654382c5-5cd4-40e9-bc82-3c5cac22017e",
               :page 33,
               :position {:bounding {:x1 82.72917175292969,
                                     :y1 70.58333587646484,
                                     :x2 233.84375,
                                     :y2 98.58333969116211,
                                     :width 740.0000000000001,
                                     :height 416.25000000000006},
                          :rects ({:x1 82.72917175292969,
                                   :y1 70.58333587646484,
                                   :x2 233.84375,
                                   :y2 98.58333969116211,
                                   :width 740.0000000000001,
                                   :height 416.25000000000006}
                                  {:x1 82.80208587646484,
                                   :y1 73.91666793823242,
                                   :x2 212.3125,
                                   :y2 95.45833969116211,
                                   :width 740.0000000000001,
                                   :height 416.25000000000006}),
                          :page 33},
               :content {:text "灰度共生矩阵法"},
               :properties {:color "yellow"}}
              {:id #uuid "654cb15f-2848-4b43-8162-bb6593c05437",
               :page 65,
               :position {:bounding {:x1 244.66250610351562,
                                     :y1 350.9624938964844,
                                     :x2 848.125,
                                     :y2 378.1625061035156,
                                     :width 908,
                                     :height 510.75},
                          :rects ({:x1 244.66250610351562,
                                   :y1 350.9624938964844,
                                   :x2 848.125,
                                   :y2 378.1625061035156,
                                   :width 908,
                                   :height 510.75}
                                  {:x1 244.6999969482422,
                                   :y1 354.9624938964844,
                                   :x2 848.125,
                                   :y2 375.7250061035156,
                                   :width 908,
                                   :height 510.75}),
                          :page 65},
               :content {:text "就是在不同尺度空间的图像下检测出的具有方向信息的局部极值点"},
               :properties {:color "yellow"}}],
 :extra {:page 125}}
