{:highlights [{:id #uuid "65b3879c-5947-4fa4-b771-4a3245ca15f4",
               :page 111,
               :position {:bounding {:x1 303,
                                     :y1 645.3359375,
                                     :x2 634,
                                     :y2 680.3359375,
                                     :width 754.9604999999999,
                                     :height 1105.2495},
                          :rects (),
                          :page 111},
               :content {:text "[:span]", :image 1706264476600},
               :properties {:color "yellow"}}],
 :extra {:page 196}}
